.keijo {
  background-color: pink;
  padding: 1rem;
}

.reijo {
  display: block;
  background-color: greenyellow;
  padding: 1rem;
}

.princessdiana {
  display: block;
  background-color: rgb(243, 6, 179);
  padding: 1rem;
}